In [104]:
import pandas as pd
import numpy as np
tips = pd.read_csv(r"tips.csv")

def last_four(num):
    return str(num)[-4:]

print(last_four(1827361))
#tips['last_four'] = tips['CC Number'].apply(last_four)

tips['last_four'] = tips['CC Number'].apply(lambda value: str(value)[-4:])

# write apply -- 'shotrtg' : sex="Male" -- M "Female" -- F
#tips['shortg'] = tips['sex'].apply(lambda g: "M" if g == "Male" else "F")

#tips['shortg_m'] = tips['sex'].map(lambda g: "M" if g == "Male" else "F")

tips['shortg'] = tips['sex'].map({"Male" : 0, "Female": 1})  # can also use dict

tips['gender'] = tips['sex'].replace(['Female', 'Male'],['F', 'M'])

df = pd.DataFrame({
    'First Name': ['John', 'Jane', 'Alice'],
    'Last Name': ['Doe', 'Smith', 'Johnson']
})
print(df)
df['Full name'] = df.apply(lambda row: f"{row['First Name']} {row['Last Name']}", axis=1)
df

# def sum_x(y, b):
#     return a + b
# lambda a, b: a + b

# combinig 2 serties into df
# s1 = pd.Series([10, 20, 30, 40],name="Numbers")
# pd1 = s1.to_frame()
# print(pd1)
# s2 = pd.Series([10, 20, 30, 40],name="Numbers2")
# pd2 = pd.DataFrame({'A': s1, 'B': s2})
# print(pd2)

# 'generous': tips -- tip / total_bill > 0.2 --> generous , not generous
tips['generous'] = tips.apply(lambda row: 'Generous' if row['tip'] / row['total_bill'] > 0.2 else "Not Generous", axis=1)
tips

def is_gen(total_bill, tip):
    return "Generous" if tip / total_bill > 0.2 else "Not Generous"
    
tips['generous_v'] = np.vectorize(is_gen)(tips['total_bill'], tips['tip'])
tips['generous_v'] = tips.apply(lambda row: 'Generous' if row['tip'] / row['total_bill'] > 0.2 else "Not Generous", axis=1)
tips['generous_v'] = np.vectorize(lambda total_bill, tip:"Generous" if tip / total_bill > 0.2 else "Not Generous")(tips['total_bill'], tips['tip'])
tips

7361
  First Name Last Name
0       John       Doe
1       Jane     Smith
2      Alice   Johnson

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,last_four,shortg,gender,generous,generous_v
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959,3410,1,F,Not Generous,Not Generous
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608,9230,0,M,Not Generous,Not Generous
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458,1322,0,M,Not Generous,Not Generous
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260,5994,0,M,Not Generous,Not Generous
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251,7221,1,F,Not Generous,Not Generous
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5296068606052842,Sat2657,2842,0,M,Generous,Generous
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506806155565404,Sat1766,5404,1,F,Not Generous,Not Generous
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6011891618747196,Sat3880,7196,0,M,Not Generous,Not Generous
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220550950,Sat17,0950,0,M,Not Generous,Not Generous
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3511451626698139,Thur672,8139,1,F,Not Generous,Not Generous

In [90]:
tips = pd.read_csv(r"tips.csv")
sort_by_tips = tips.sort_values(['tip'], ascending=True)  # default
sort_by_tips_desc = tips.sort_values(['tip'], ascending=False)
sort_by_payername = tips.sort_values(['Payer Name'])
sort_by_size = tips.sort_values(['size', 'price_per_person'], ascending=[True, False])
sort_by_size

tips.sort_values(by='Payer Name', key=lambda col_payer_name: col_payer_name.apply(lambda payer_name: len(payer_name)))
# 91 88 1007
#  1  8    7
#  1  7   8
# 91  1007 88

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
217,11.59,1.50,Male,Yes,Sat,Dinner,2,5.80,Gary Orr,30324521283406,Sat8489
169,10.63,2.00,Female,Yes,Sat,Dinner,2,5.32,Amy Hill,3536332481454019,Sat1788
70,12.02,1.97,Male,No,Sat,Dinner,2,6.01,Max Brown,213139760497718,Sat2100
91,22.49,3.50,Male,No,Fri,Dinner,2,11.24,Earl Horn,6011849326227398,Fri5700
145,8.35,1.50,Female,No,Thur,Lunch,2,4.18,Amy Young,4285454264477,Thur9331
...,...,...,...,...,...,...,...,...,...,...,...
147,11.87,1.63,Female,No,Thur,Lunch,2,5.94,Annette Cunningham,675937746864,Thur4780
118,12.43,1.80,Female,No,Thur,Lunch,2,6.22,Dr. Caroline Tucker,502047186908,Thur8084
104,20.92,4.08,Female,No,Sat,Dinner,2,10.46,Gabrielle Frederick,4013010878990106,Sat3194
56,38.01,3.00,Male,Yes,Sat,Dinner,4,9.50,James Christensen DDS,349793629453226,Sat8903
68,20.23,2.01,Male,No,Sat,Dinner,2,10.12,Mr. Travis Bailey Jr.,60406789937,Sat561

In [100]:
tips = pd.read_csv(r"tips.csv")
print(tips['sex'].value_counts())
print(tips['sex'].value_counts(normalize=True) * 100)
tips['generous_v'] = tips.apply(lambda row: 'Generous' if row['tip'] / row['total_bill'] > 0.2 else "Not Generous", axis=1)
print(tips[['generous_v', 'sex']].value_counts(ascending=True))
print(tips['time'].value_counts())  # Series
print(list(tips['time'].unique()))
print(tips['time'].nunique())
print(tips['tip'].nunique())
print(tips['Payment ID'].nunique())
print(tips.shape)

sex
Male      157
Female     87
Name: count, dtype: int64
sex
Male      64.344262
Female    35.655738
Name: proportion, dtype: float64
generous_v    sex
Generous      Female     15
              Male       24
Not Generous  Female     72
              Male      133
Name: count, dtype: int64
time
Dinner    176
Lunch      68
Name: count, dtype: int64
['Dinner', 'Lunch']
2
123
243
(244, 12)

In [144]:
data = {
    'Name': ['Alice', 'Bob', 'Alice', 'Charlie', 'Bob', 'David'],
    'Age': [25, 30, 25, 35, 30, 40]
}
df = pd.DataFrame(data)
print(df)
print()

duplicates = df.duplicated()
print(duplicates)

print()
duplicate_rows = df[df.duplicated()]
print(duplicate_rows)

print()
# show only duplicates
all_duplicates = df[df.duplicated(keep=False)]
print(all_duplicates)

print()
print(df.drop_duplicates())

      Name  Age
0    Alice   25
1      Bob   30
2    Alice   25
3  Charlie   35
4      Bob   30
5    David   40

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

    Name  Age
2  Alice   25
4    Bob   30

    Name  Age
0  Alice   25
1    Bob   30
2  Alice   25
4    Bob   30

      Name  Age
0    Alice   25
1      Bob   30
3  Charlie   35
5    David   40

In [147]:
tips = pd.read_csv(r"tips.csv")
tips.nlargest(10, 'tip')
tips.nsmallest(10, 'tip')
tips.sample(5)
tips.sample(frac = 0.1)

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
40,16.04,2.24,Male,No,Sat,Dinner,3,5.35,Adam Edwards,3544447755679420,Sat8549
64,17.59,2.64,Male,No,Sat,Dinner,3,5.86,Michael Johnson,2222114458088108,Sat1667
213,13.27,2.50,Female,Yes,Sat,Dinner,2,6.64,Robin Andersen,580140531089,Sat1374
6,8.77,2.00,Male,No,Sun,Dinner,2,4.38,Kristopher Johnson,2223727524230344,Sun5985
17,16.29,3.71,Male,No,Sun,Dinner,3,5.43,John Pittman,6521340257218708,Sun2998
44,30.40,5.60,Male,No,Sun,Dinner,4,7.60,Todd Cooper,503846761263,Sun2274
218,7.74,1.44,Male,Yes,Sat,Dinner,2,3.87,Nicholas Archer,340517153733524,Sat4772
192,28.44,2.56,Male,Yes,Thur,Lunch,2,14.22,Dr. Jeffrey Rich,4737538358295,Thur4334
215,12.90,1.10,Female,Yes,Sat,Dinner,2,6.45,Jessica Owen,4726904879471,Sat6983
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
222,8.58,1.92,Male,Yes,Fri,Lunch,1,8.58,Jason Lawrence,3505302934650403,Fri6624
94,22.75,3.25,Female,No,Fri,Dinner,2,11.38,Jamie Garza,676318332068,Fri2318
154,19.77,2.00,Male,No,Sun,Dinner,4,4.94,James Smith,213169731428229,Sun5814
9,14.78,3.23,Male,No,Sun,Dinner,2,7.39,Jerome Abbott,3532124519049786,Sun3775
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506806155565404,Sat1766
138,16.00,2.00,Male,Yes,Thur,Lunch,2,8.00,Jason Burgess,3561461821942363,Thur2710
99,12.46,1.50,Male,No,Fri,Dinner,2,6.23,Edward Carter,347435564751626,Fri5575
65,20.08,3.15,Male,No,Sat,Dinner,3,6.69,Justin Dixon,180021262464926,Sat6840
68,20.23,2.01,Male,No,Sat,Dinner,2,10.12,Mr. Travis Bailey Jr.,60406789937,Sat561
121,13.42,1.68,Female,No,Thur,Lunch,2,6.71,Laura Garcia,5181484390945653,Thur2158
211,25.89,5.16,Male,Yes,Sat,Dinner,4,6.47,Christopher Li,6011962464150569,Sat6735
30,9.55,1.45,Male,No,Sat,Dinner,2,4.78,Grant Hall,30196517521548,Sat4099
81,16.66,3.40,Male,No,Thur,Lunch,2,8.33,William Martin,4550549048402707,Thur8232
114,25.71,4.00,Female,No,Sun,Dinner,3,8.57,Katie Smith,5400160161311292,Sun6492

In [148]:
print(np.NaN is None)

False